.App-main {
  padding-top: 69px;
}

.Greetings {
  background-color: var(--second-bg__color);

  .Firstly-spans {
    display: flex;
    justify-content: space-around;

    span:first-child,
    span:nth-child(2) {
      font-family: 'BetinaScriptCTT';
      font-style: normal;
      padding-top: 118px;
      font-weight: 400;
      font-size: 30px;
    }
    span:first-child {
      color: #f19537;
    }
    span:nth-child(2) {
      padding-top: 182px;
      color: #96c05b;
    }
  }
  .Main-title {
    margin-left: 128px;
    margin-top: 19px;
    width: 1175px;
    p {
      color: var(--first-text__color);
      text-transform: lowercase;
      font-size: 24px;
    }
    h1 {
      color: var(--first-bg__color);
      padding-top: 40px;
      font-size: 40px;
    }
    div {
      padding-top: 60px;
      a:hover {
        cursor: pointer;
      }
    }
  }
  .Lastly-span {
    font-family: 'BetinaScriptCTT';
    justify-content: center;
    margin-left: 300px;
    font-style: normal;
    padding-top: 107px;
    padding-bottom: 200px;
    color: #e25241;
    font-weight: 400;
    font-size: 30px;
    display: flex;
  }
}

.Usage {
  display: flex;
  justify-content: space-between;
  padding: 0px 128px 92px 128px;

  div:first-child {
    p {
      font-size: 24px;
      margin-top: 108px;
      span {
        color: var(--first-text__hover);
        font-size: 45px;
      }
    }
    h2 {
      font-size: 48px;
      padding-left: 62px;
      padding-top: 80px;
      max-width: 900px;
    }
    ul {
      list-style-position: outside;
      max-width: 900px;
      padding-left: 170px;
      padding-top: 75px;
      li {
        text-transform: lowercase;
        padding-bottom: 40px;
        padding-left: 40px;
        font-size: 16px;
        list-style-image: url(./check.svg);
        &:last-child {
          padding-bottom: 0px;
        }
      }
    }
  }
  div:last-child {
    img {
      margin-top: 240px;
      border-radius: 22px;
    }
  }
}

.Example {
  padding: 100px 128px;
  background-color: var(--second-bg__color);
  p {
    color: var(--first-text__color);
    padding-top: 30px;
  }
  h2 {
    font-size: 48px;
    color: var(--first-bg__color);
    span:first-child {
      color: var(--first-text__hover);
    }
    span:last-child {
      color: var(--second-text__border);
    }
    padding-top: 30px;
  }
  audio {
    width: 100%;
    margin-top: 30px;
  }
  audio::-webkit-media-controls-panel {
    background: #848484;
  }
}

.Areas-of-use {
  div {
    &:first-child {
      p {
        padding-left: 64px;
        padding-top: 100px;
        font-size: 24px;
        span {
          color: var(--second-text__border);
          font-size: 45px;
        }
      }
      h2 {
        padding-left: 128px;
        padding-top: 80px;
        font-size: 32px;
        span {
          &:first-child {
            color: var(--first-text__hover);
          }
          &:nth-child(3) {
            color: var(--second-text__border);
          }
          &:last-child {
            color: var(--first-text__hover);
          }
        }
      }
    }
    &:nth-child(2) {
      display: flex;
      justify-content: center;
      padding-top: 60px;
      ul {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        li {
          margin: 10px;
          padding: 20px;
          width: 400px;
          p {
            font-size: 20px;
            padding-top: 15px;

            height: 186px;
            span {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

.Advances {
  background-color: var(--second-bg__color);
  padding-bottom: 120px;
  p {
    padding: 100px 0 0 64px;
    color: var(--first-bg__color);
    font-size: 24px;
    span {
      color: var(--second-text__border);
      font-size: 45px;
    }
  }
  div {
    display: flex;
    justify-content: center;
    padding-top: 80px;
  }
  ul {
    column-count: 3;
    li {
      padding: 20px;
      span {
        display: flex;
        text-align: center;
        justify-content: center;
        width: 235px;
        height: 235px;
        border-radius: 7px;
        color: var(--first-bg__color);
        &:first-child {
          font-size: 24px;
          align-items: center;
          background-color: var(--second-text__border);
          position: absolute;
          z-index: 1;
          &:hover {
            z-index: 0;
          }
        }
        &:nth-child(2) {
          margin-left: 20px;
          margin-top: 20px;
          display: flex;
          align-items: center;
          position: relative;
          text-align: left;
          padding: 20px;

          //! old stile
          // background: linear-gradient(#262235, #2a3233 100%);
          // border-left: 1px solid #6157ec;
          // border-top: 1px solid #6152ed;
          // border-right: 1px solid #70a4d9;
          // border-bottom: 1px solid #71a7d9;

          //! new stile
          background: linear-gradient(#262235a5, #2a3233 100%);
          backdrop-filter: blur(15px);
          -webkit-backdrop-filter: blur(15px);
          &:hover {
            z-index: 1;
          }
        }
      }
    }
  }
  a {
    float: right;
    font-size: 24px;
    padding-right: 64px;
    color: var(--first-bg__color);
    &:hover {
      cursor: pointer;
    }
  }
}

.Capabilities {
  p {
    &:first-child {
      padding: 100px 0 0 64px;
      font-size: 24px;
      span {
        color: var(--second-text__border);
        font-size: 45px;
      }
    }
  }
  div {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    ul {
      column-count: 3;
      li {
        break-inside: avoid-column !important;
        width: 427px;
        height: 246px;
        background: linear-gradient(
          137.12deg,
          rgba(90, 49, 245, 0.05) -60.55%,
          rgba(119, 200, 208, 0.05) 98.08%
        );
        margin: 0px 0px 20px;
        border-radius: 7px;
        &:hover p:first-child {
          color: var(--first-text__hover);
        }
        p {
          &:first-child {
            font-size: 15px;
            color: var(--second-text__border);
            padding: 22px 0px 22px 41px;
            border-bottom: 1px solid #fff;
          }
          &:last-child {
            text-transform: lowercase;
            padding: 76px 41px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

.Technical-advantages {
  p {
    padding: 100px 0 80px 64px;
    &:first-child {
      font-size: 24px;
      span {
        color: var(--second-text__border);
        font-size: 45px;
      }
    }
  }
  ul {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    li {
      padding: 20px;
      span {
        display: flex;
        text-align: center;
        justify-content: center;
        width: 235px;
        height: 235px;
        border-radius: 7px;
        color: var(--first-bg__color);
        &:first-child {
          font-size: 24px;
          align-items: center;
          background: linear-gradient(135.57deg, #5b37f4 1.16%, #5c3bf2 98.08%);
          position: absolute;
          z-index: 1;
          &:hover {
            z-index: 0;
          }
        }
        &:nth-child(2) {
          margin-left: 20px;
          margin-top: 20px;
          display: flex;
          align-items: center;
          position: relative;
          text-align: left;
          padding: 20px;

          //! new stile
          background: linear-gradient(#c7bde59d, #b5dadeb0 100%);
          backdrop-filter: blur(15px);
          -webkit-backdrop-filter: blur(15px);
          color: #fff;

          //! old stile
          // background: linear-gradient(#c7bde5, #b5dade 100%);
          // color:#000;
          // border-top: 1px solid #6050ed;
          // border-right: 1px solid #70a2d9;
          // border-bottom: 1px solid #70a2d9;
          // border-left: 1px solid #6157ec;
          &:hover {
            z-index: 1;
          }
        }
      }
    }
  }
  a {
    display: block;
    // float: right;
    text-align: right;
    font-size: 24px;
    padding-right: 64px;
    padding-bottom: 64px;
    // color: var(--first-bg__color);
    &:hover {
      cursor: pointer;
    }
  }
}

.Buttons {
  background-color: var(--second-bg__color);
  ul {
    padding: 112px 0px;
    display: flex;
    justify-content: center;
    li {
      color: var(--second-text__color);
      background-color: var(--transparent);
      border: var(--border-button);
      border-radius: 22px;
      padding: 10px 25px 13px;
      &:first-child {
        margin-right: 100px;
      }
      &:hover {
        background-color: var(--second-text__bg_color);
        cursor: pointer;
      }
    }
  }
}

.Form {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  div {
    &:first-child {
      h2 {
        font-size: 96px;
        padding-right: 60px;
        span {
          &:last-child {
            color: var(--second-text__border);
          }
        }
      }
    }
    &:last-child {
      ul {
        li {
          &:first-child {
            p {
              padding-top: 0px;
            }
          }
          p {
            font-size: 16px;
            padding-bottom: 20px;
            padding-top: 41px;
          }
          input,
          textarea {
            padding-left: 10px;
            border: none;
            width: 618px;
            border-radius: 7px;
            border-top: 1px solid #6154ed;
            border-right: 1px solid #70a2d9;
            border-bottom: 1px solid #70a5d9;
            border-left: 1px solid #6157ec;
          }
          textarea {
            padding-top: 10px;
            resize: none;
          }
          input {
            height: 44px;
          }
        }
      }
    }
  }
}
.Form-title {
  color: var(--first-text__hover);
}

.Form-button {
  padding-top: 4px;
  padding-bottom: 98px;
  display: flex;
  justify-content: center;
  input {
    width: 223px;
    height: 44px;

    border-radius: 20.5px;
    background: #5a31f5;
    border: 1px solid #5a31f5;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    &:hover {
      cursor: pointer;
    }
  }
}
